fastapi==0.95.0
uvicorn==0.21.1
numpy==1.24.2
pandas==2.0.0
scikit-learn==1.2.2
joblib==1.2.0
boto3==1.26.115
onnxruntime==1.16.0
prometheus-fastapi-instrumentator==5.9.1
prometheus-client==0.16.0
prophet==1.1.4
matplotlib==3.7.1
